<div class="w-full h-full overflow-hidden relative bg-neutral-900"
     (wheel)="onWheel($event)"
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp()"
     (mouseleave)="onMouseUp()"
     (mousemove)="onMouseMove($event)"
     (click)="onBackgroundClick($event)"
     >

  <app-tree-list
    class="absolute top-4 left-4 z-50"
  ></app-tree-list>

  <div class="absolute left-1/2 top-1/2 world "
       [style.transform]="
         'translate(' + offsetX() + 'px,' + offsetY() + 'px) ' +
         'scale(' + zoom() + ')'
       ">

      <svg class="absolute pointer-events-none"
      [style.left.px]="-2000"
      [style.top.px]="-2000"
      width="4000"
      height="4000"
      viewBox="-2000 -2000 4000 4000"
      >
        @for (skill of skills(); track skill.id) {
          @if (skill.parentId !== null) {
            @let parent = getParent(skill.parentId);
            <line
            [attr.x1]="edgeCoords(parent!, skill).x1"
            [attr.y1]="edgeCoords(parent!, skill).y1"
            [attr.x2]="edgeCoords(parent!, skill).x2"
            [attr.y2]="edgeCoords(parent!, skill).y2"
            stroke="#555"
            stroke-width="2"
            />
          }
        }
      </svg>

      @for (slot of slots(); track slot.index + ':' + slot.parentId) {
        <button class="absolute w-6 h-6 rounded-full bg-neutral-700 text-sm text-neutral-300 flex justify-center"
        [style.left.px]="slot.x"
        [style.top.px]="slot.y"
        (click)="openSlot(slot)">+</button>
      }

      @if (selectedSlot) {
        <div class="absolute"
          [style.left.px]="selectedSlot.x - 265"
          [style.top.px]="selectedSlot.y + 50">
            <app-skill-adder
              [parentId]="selectedSlot.parentId"
              [slot]="selectedSlot"
              (closed)="selectedSlot = null"
            />
        </div>
      }
        
      @for (skill of skills(); track skill.id) {
        <app-skill-item
        [skill]="skill"
        [locked]="skillsService.isLocked(skill.id)"
        class="absolute"
        [style.left.px]="skill.x"
        [style.top.px]="skill.y"
        (pressed)="onSkillPressed($event)"
        (menuCalled)="openMenu($event)"
        [menuActive]="menuOpen()"
        ></app-skill-item>
      }

      @if (menuOpen()) {
        <app-item-menu class="fixed"
        [itemId]="menuItemId()"
        [itemType]="'skill'"
        [pos]="menuPos()"
        (renamed)="handleRename($event)"
        (deleted)="handleDelete($event)"
        (closed)="closeMenu()"
        ></app-item-menu>
        }
  </div>
</div>
